
#twits-chooser, #twits-status {
	font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	line-height: 1.25;
}

#twits-status {
	position: fixed;
	text-align: center;
	width: 480px;
	top: 1em;
	left: 50%;
	margin-left: -264px;
	/* - width/2 - paddingHorz/2 - border */
	padding: 16px 16px 16px 16px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #C09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 8px solid #FBEED5;
}

#twits-status .profile-pic {
	float: left;
	width: 32px;
	display: block;
	border-radius: 50%;
}

@media screen and (max-width: 400px){
	#twits-chooser{
		width: 100%;
	}
	#twits-header {
		text-align: center;
		width: 100%;
	}
	#twits-profile {
		width: 100%;
	}
}

#twits-header {
	width: 400px;
}

#twits-header .twits-beta {
	background: red;
	color: white;
	font-size: 0.3em;
	padding: 2px 4px 2px 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	vertical-align: middle;
}

#twits-header a[href] {
	text-decoration: none;
}

#twits-header .line1 { font-size: 1.0em; }
#twits-header .line2 { font-size: 0.9em; }
#twits-header .line3 { font-size: 0.8em; }

#twits-profile {
	/*padding: 20px;*/
	border: solid #007ee5 thin;
	border-radius: 5px;
	width: inherit;
	height: 60px;
	text-align: left;
	/* margin: 0px auto; */
	position: relative;
	box-sizing: border-box;
	width: 400px;
}

#twits-profile .profile-pic {
	position: absolute;
	display: block;
	width: 32px;
	left: 20px;
	top: 14px;
	margin-right: 20px;
	border-radius: 50%;
}

#twits-profile .profile-name {
	position: absolute;
	display: block;
	left: 60px;
	top: 20px;
}

#twits-profile .profile-name-team {
	position: absolute;
	display: block;
	left: 60px;
	top: 12px;
}

#twits-files span {
	white-space: nowrap
}

#twits-files .twits-folderlist {
	padding-left: 1em;
}

#twits-files img {
	padding-right: 6px;
}

#twits-files .twits-file-entry {
	text-decoration: none;
	padding: 2px 4px 2px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#twits-files .twits-file-other {
	opacity: 0.7;
}

#twits-files .twits-file-html {
	background: yellow;
}
#twits-files .twits-file-twinfo {
	background: lightblue;
}


#twits-files a span {
	font-size: 0.8em;
	color: #777;
}